@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/open-sans-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/open-sans-700.woff2') format('woff2');
}
html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font: normal 16px 'Open Sans', Arial, sans-serif;
  background: #F7F7F7 url('../images/pattern.png') fixed;
  color: #555;
}
p {
  margin-bottom: 20px;
  line-height: 1.5em;
}
code, pre {
  color: #333;
  font-family: Consolas, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}
pre {
  padding: 10px 15px;
  line-height: 1.5em;
  margin-bottom: 20px;
  font-size: 0.9em;
}
p code, li code {
  background-color: #f2f8fc;
  border: 1px solid #dbe7f3;
  padding: 0 3px;
}
img {
  border: 0;
}
blockquote {
  border-left: 10px solid #e9e9e9;
  font-size: 1.2em;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
  color: #819198;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size: 2em;
  color: #F14E23;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;
}
h2 {
  font-size: 1.6em;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.3em;
  margin-bottom: 10px;
}
h4, h5, h6 {
  font-weight: normal;
  margin-bottom: 5px;
  line-height: 1em;
}
a, a:hover {
  outline: none;
  text-decoration: none;
  color: #35BDF5;
}
a:hover {
  text-decoration: underline;
}
.left {
  float: left;
  width: auto;
  margin-right: 10px;
}
.right {
  float: right;
  width: auto;
  margin-left: 10px;
}
.center {
  display: block;
  text-align: center;
  margin: 20px auto;
}
ul, ol {
  margin: 10px 0 10px 25px;
}
ul li {
  list-style-type: circle;
  margin: 0 0 0 0;
  padding: 0 0 4px 5px;
}
ol li {
  margin: 0 0 10px 0;
}
#main, #header, #logo, #menubar, #site_content, #footer {
  margin-left: auto;
  margin-right: auto;
}
#main {
  max-width: 952px;
  margin: 0 auto;
}
.clearfix:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}
#header {
  min-height: 145px;
}
#logo {
  min-height: 100px;
  background: transparent;
}
#logo h1 {
  font-weight: bold;
  font-size: 3em;
  padding: 5px 0 0 15px;
  color: #555;
  float: left;
}
#logo h1 a {
  color: #35BDF5;
  text-decoration: none;
}
#logo h1 a:hover {
  text-decoration: none;
}
.slogan {
  float: right;
  font-size: 1.6em;
  padding: 25px 15px 0 0;
  text-align: right;
  color: #999;
}
#menubar {
  height: 46px;
  width: 700px;
  margin: 0px auto -1px auto;
  float: right;
  padding: 0px 0 0 0;
}
ul#menu {
  float: right;
}
ul#menu li {
  float: left;
  padding: 0 0 0px 0px;
  list-style: none;
  margin: 2px 0 0 0;
  background: transparent;
}
ul#menu li a {
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: none;
  color: #888;
  display: block;
  float: left;
  height: 20px;
  padding: 7px 23px 15px 23px;
  text-align: center;
}
ul#menu li.current a {
  height: 20px;
  padding: 6px 22px 15px 22px;
}
ul#menu li.current a {
  background: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  color: #35bdf5;
}
ul#menu li a:hover {
  color: #35bdf5;
}
#site_content {
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 25px;
  background: #fff;
  border: 1px solid #E7E7E7;
}
#content {
  font-size: 1.1em;
  text-align: left;
  margin: 0;
}
#content ul li {
  margin: 0 0 6px 0;
  padding: 0 0 0 10px;
  line-height: 1.5em;
}
#footer {
  clear: both;
  width: 100%;
  font-weight: normal;
  font-size: 1.1em;
  padding: 50px 0 5px 0;
  text-align: center;
  color: #999;
  background: transparent;
  margin-bottom: 20px;
}
#footer p {
  padding: 0 0 10px 0;
}
#footer a, #footer a:hover {
  color: #35BDF5;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: none;
}
table {
  margin: 10px 0 30px 0;
}
table tr th, table tr td {
  background: #F5F5F5;
  color: #111;
  padding: 7px 4px;
  text-align: left;
}
table tr td {
  background: #FBFBFB;
  color: #111;
  border-top: 1px solid #FFF;
}
.gallery {
  text-align: center;
}
.gallery h3 {
  margin: 2em 0 1em;
}
.gallery img {
  width: 90%;
  max-width: 650px;
}
@media screen and (max-width: 960px) {
  #logo h1 { float: none; }
  .slogan {
    padding: 0 1em;
    float: none;
    margin-bottom: 1em;
    text-align: center;
  }
  ul#menu li a {
    font-size: 1.35em;
    padding: 7px 18px 15px 18px;
  }
  ul#menu li.current a {
    padding: 6px 17px 15px 17px;
  }
}
