/* ==========================================================================
   Typography
   ========================================================================== */

/*
   Body
   ========================================================================== */

body {
	font-family: $base-font;
	color: $text-color;
}

/*
   Headings
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
}

h1 {
	@include font-rem(28);

	@media #{$medium} {
		@include font-rem(32);
	}
}

/*
   Links
   ========================================================================== */

a {
	text-decoration: none;
	color: $link-color;

	&:visited {
		color: lighten($link-color, 20);
	}

	&:hover {
		color: darken($link-color, 20);
	}

	&:focus {
		outline: thin dotted;
		color: darken($link-color, 20);
	}

	&:hover,
	&:active {
		outline: 0;
	}
}

/*
   Blockquotes
   ========================================================================== */

blockquote {
	font-family: $alt-font;
	font-style: italic;
	border-left: 8px solid $border-color;
	padding-left: 20px;

	@media #{$medium} {
		margin-left: -28px;
	}
}

/*
   Code
   ========================================================================== */

tt, code, kbd, samp, pre {
	font-family: $code-font;
}

p,
li {

	code {
		line-height: 1.5;
		white-space: nowrap;
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid lighten(#000, 90);
		background-color: lighten(#000, 95);
		border-radius: 3px;
	}
}

pre {
    font-size: 0.9em;
	line-height: 1.5;
	overflow-x: auto;

	&::-webkit-scrollbar {
		height: 12px;
		background-color: #34362e;
		border-radius: 0 0 4px 4px;
	}

	&::-webkit-scrollbar-thumb:horizontal {
		background-color: #6a6d5d;
		border-radius: 4px;
	}
}
