// Breakpoints
$large-breakpoint: 960px !default;
$medium-breakpoint: 768px !default;
$small-breakpoint: 480px !default;

// Body
$body-color: #666 !default;
$body-bg-color: #fafafa !default;

// Headers
$header-main-color: #fff !default;
$header-secondary-color: #9ddcff !default;
$header-bg-color: #2e7bcf !default;

// Borders
$header-border-color: #275da1 !default;
$content-border-color: #fff !default;
$code-border-color :#dbe7f3 !default;
$pre-border-color: #f2f2f2 !default;
$hr-border-color: #ddd !default;
$table-border-color: #bbb !default;
$blockquote-border-color: #e9e9e9 !default;
$toc-border-color: #dce6f0 !default;

// TOC
$toc-bg-color: #f3f6fa !default;

// Links
$link-color: #2879d0 !default;
$link-hover-color: #2268b2 !default;

// Code
$code-color: #222 !default;
$code-bg-color: #f2f8fc !default;

// Preformatted
$pre-bg-color: #fff !default;
$pre-code-color: #3b7abd !default;

// Table
$table-header-color: #fff !default;
$table-header-bg-color: #63a0e1 !default;
$table-odd-color: #eee !default;
$table-even-color: #fff !default;

// Section titles
$section-title-color: #474747 !default;

// Sizes
$base-font-size: 16px;
$block-margin: 16px;
$block-padding: 20px;

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small-or-tiny {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (min-width: #{$small-breakpoint}) and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

@mixin tiny {
  @media screen and (max-width: #{$small-breakpoint}) {
    @content;
  }
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("fonts/open-sans-400.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("fonts/open-sans-700.woff") format("woff");
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.5;
  color: $body-color;
  background-color: $body-bg-color;
}

.inner {
  position: relative;
  width: 840px;
  font-size: 1.1em;
  margin: 0 auto;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  background: $header-bg-color url(images/header-bg.jpg) 0 0 repeat-x;
  border-bottom: solid 1px $header-border-color;
  text-align: center;

  .inner {
    .title {
      margin-top: 0;
      margin-bottom: 0.5em;
      font-size: 2em;
      font-weight: 700;
      line-height: 1;
      color: $header-main-color;
    }
  
    .subtitle {
      margin-top: 0;
      margin-bottom: 1em;
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.3;
      color: $header-secondary-color;
    }
  
    .author, .date {
      margin-top: 0;
      margin-bottom: 0.75em;
      font-size: 1.2em;
      font-weight: 400;
      line-height: 1.2;
      color: $header-secondary-color;
    }

    :last-child {
      margin-bottom: 0.0;
    }
  }
}

p {
  margin: $block-margin 0;
}

a {
  text-decoration: none;
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

code, pre {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: $code-color;
}

code {
  padding: 0 3px;
  background-color: $code-bg-color;
  border: solid 1px $code-border-color;
}

pre {
  margin: $block-margin 0;
  padding: $block-padding;
  overflow: auto;
  text-shadow: none;
  background: $pre-bg-color;
  border: solid 1px $pre-border-color;
  font-size: 0.9em;

  code {
    padding: 0;
    color: $pre-code-color;
    background-color: $pre-bg-color;
    border: none;
  }
}

hr {
  height: 0;
  margin: $block-margin 0;
  border: 0;
  border-top: solid 1px $hr-border-color;
}

table {
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all; // For Firefox to horizontally scroll wider tables.
  -webkit-overflow-scrolling: touch;
  border-collapse: collapse;
  border-spacing: 0;
  margin: $block-margin 0;

  th {
    font-weight: 700;
    background-color: $table-header-bg-color;
    color: $table-header-color;
  }

  th, td {
    border-bottom: 1px solid $table-border-color;
    text-align: left;
    padding: 10px;
  }

  tr:nth-child(odd) {
    background-color: $table-odd-color;
  }

  tr:nth-child(even) {
    background-color: $table-even-color;
  }
}

blockquote {
  padding: 0 0 0 $block-padding;
  margin-top: $block-margin;
  margin-bottom: $block-margin;
  font-size: 1.1em;
  border-left: 10px solid $blockquote-border-color;
}

ul, ol {
  list-style-position: inside;
  margin-top: 0;
  padding-left: 30px;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

.toc {
  padding-top: 30px;

  .inner {
    padding: $block-padding;
    background-color: $toc-bg-color;
    border: solid 1px $toc-border-color;

    .toc-title {
      margin: 0 0 $block-margin;
      text-align: center;
    }

    ul {
      margin: 0;
    }
  }
}

#content-wrapper {
  padding-top: 30px;
}

#main-content {
  > :first-child {
    margin-top: 0;
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
    font-weight: 700;
    color: $section-title-color;
    letter-spacing: -1px;
  
    &:before {
      padding-right: 0.3em;
      margin-left: -0.8em;
      color: $header-secondary-color;
      content: "/";
    }
  }

  h2 {
    margin-bottom: 8px;
    font-size: 1.5em;
    font-weight: 700;
    color: $section-title-color;

    &:before {
      padding-right: 0.3em;
      margin-left: -1.2em;
      content: "//";
      color: $header-secondary-color;
    }
  }

  h3 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 1.2em;
    font-weight: 700;
    color: $section-title-color;

    &:before {
      padding-right: 0.3em;
      margin-left: -1.7em;
      content: "///";
      color: $header-secondary-color;
    }
  }

  h4 {
    margin-bottom: 8px;
    font-size: 1.1em;
    font-weight: 700;
    color: $section-title-color;

    &:before {
      padding-right: 0.3em;
      margin-left: -2em;
      content: "////";
      color: $header-secondary-color;
    }
  }

  h5 {
    margin-bottom: 8px;
    font-size: 1em;
    color: $section-title-color;

    &:before {
      padding-right: 0.3em;
      margin-left: -2.4em;
      content: "/////";
      color: $header-secondary-color;
    }
  }

  h6 {
    margin-bottom: 8px;
    font-size: .9em;
    color: $section-title-color;

    &:before {
      padding-right: 0.3em;
      margin-left: -3em;
      content: "//////";
      color: $header-secondary-color;
    }
  }
}

/* MISC */
.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.';
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

@include medium {
  .inner {
    width: 740px;
  }

  #main-content {
    h1:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before,
    h6:before {
      padding-right: 0;
      margin-left: 0;
      content: none;
    }
  }
}

@include small-or-tiny {
  .inner {
    width: 93%;
  }

  header {
    padding: 20px 0;

    .inner {
      position: relative;

      .title, .subtitle {
        width: 100%;
      }

      .title {
        font-size: 1.75em;
      }

      .subtitle {
        font-size: 1.2em;
      }

      .author, .date {
        font-size: 1em;
      }
    }
  }

  #main-content {
    h1:before,
    h2:before,
    h3:before,
    h4:before,
    h5:before,
    h6:before {
      padding-right: 0;
      margin-left: 0;
      content: none;
    }
  }
}
