/* ==========================================================================
   Syntax highlighting
   ========================================================================== */


pre, code {
  font-family: $font-family-monospace;
  color: #525252;
  background-color: #f8f8f8;
}
code {
  color: #e96900;
  border-radius: 2px;
  white-space: nowrap;
}


pre { // only apply for code blocks
  font-size: 0.9em;
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: $base-line-height * 0.925;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}
pre code {
  background: transparent;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
  color: #525252;
  span {
    word-break: break-all;
  }
}
