/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(fonts/open-sans-400.woff2) format('woff2');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(fonts/open-sans-700.woff2) format('woff2');
}
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* LAYOUT STYLES */
body {
  font-size: 16px;
  line-height: 1.5;
  background: #e7e7e7 url('images/body-bg.png') 0 0 repeat;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: #606060;
}

a {
  color: #d5000d;
}
a:hover {
  color: #c5000c;
}

header {
  padding-top: 35px;
  padding-bottom: 25px;
  text-align: center;
}

header h1 {
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 2.2em;
  color: #303030;
  line-height: 1.2;
  margin-bottom: 0.5em;
}

header h2 {
  letter-spacing: -1px;
  font-size: 1.5em;
  color: #aaa;
  font-weight: normal;
  line-height: 1.3;
  margin-bottom: 1em;
}

header h3 {
  letter-spacing: -1px;
  font-size: 1.2em;
  color: #6d6d6d;
  font-weight: normal;
  line-height: 1.2;
}

#container {
  background: transparent url('images/highlight-bg.jpg') 50% 0 no-repeat;
  min-height: 595px;
}

.inner {
  width: 850px;
  margin: 0 auto;
  font-size: 1.1em;
}

#container .inner img {
  max-width: 100%;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border-top: solid 1px #cbcbcb;
  border-left: solid 1px #b7b7b7;
  border-right: solid 1px #b7b7b7;
  border-bottom: solid 1px #b3b3b3;
  color: #303030;
  line-height: 25px;
  font-weight: bold;
  font-size: 15px;
  padding: 12px 8px 12px 8px;
  display: block;
  float: left;
  width: 179px;
  margin-right: 14px;
  background: #fdfdfd; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f2f2f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f2f2f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
  box-shadow: 0px 1px 5px #e8e8e8;
}
a.button:hover {
  border-top: solid 1px #b7b7b7;
  border-left: solid 1px #b3b3b3;
  border-right: solid 1px #b3b3b3;
  border-bottom: solid 1px #b3b3b3;
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fdfdfd 0%, #f6f6f6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fdfdfd 0%,#f6f6f6 100%); /* IE10+ */
  background: linear-gradient(top,  #fdfdfd 0%,#f6f6f6, 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

a.button span {
  padding-left: 50px;
  display: block;
  height: 23px;
}

code, pre {
  font-family: Consolas, Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, Courier, monospace;
  color: #222;
  margin-bottom: 30px;
  font-size: 1em;
}

code {
  background-color: #f2f2f2;
  border: solid 1px #ddd;
  padding: 0 3px;
}

pre {
  padding: 20px;
  background: #f2f2f2;
  color: #303030;
  text-shadow: none;
  overflow: auto;
}
pre code {
  color: #303030;
  background-color: #f2f2f2;
  border: none;
  padding: 0;
}

ul, ol, dl {
  margin-bottom: 20px;
}


/* COMMON STYLES */

hr {
  height: 1px;
  line-height: 1px;
  margin-top: 1em;
  padding-bottom: 1em;
  border: none;
  background: transparent url('images/hr.png') 50% 0 no-repeat;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

table {
  width: 100%;
  margin: 20px auto;
}

th, td {
  border-bottom: 1px solid #bbbbbb;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #a2000a;
  color: white;
}

tr:nth-child(odd) {
  background-color: #dddddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

form {
  background: #f2f2f2;
  padding: 20px;
}


/* GENERAL ELEMENT TYPE STYLES */

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  color: #303030;
  margin-bottom: 8px;
}

h3 {
  color: #d5000d;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 8px;
}

h4 {
  font-size: 1.1em;
  color: #303030;
  font-weight: bold;
  margin-bottom: 8px;
}

h5 {
  font-size: 1em;
  color: #303030;
  margin-bottom: 8px;
}

h6 {
  font-size: 0.9em;
  color: #303030;
  margin-bottom: 8px;
}

p {
  font-weight: normal;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

p a {
  font-weight: normal;
}

blockquote {
  font-size: 1.2em;
  border-left: 10px solid #d0d0d0;
  margin-bottom: 20px;
  padding: 0 0 0 30px;
}

ol, ul {
	list-style-position: inside;
    padding-left: 2em;
}

dl dt {
  color: #303030;
}

footer {
  background: transparent url('images/hr.png') 0 0 no-repeat;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #aaa;
}

footer a {
  color: #666;
}
footer a:hover {
  color: #444;
}

/* MISC */
.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  header {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #downloads {
    margin-bottom: 25px;
  }
  #download-zip, #download-tar-gz {
    display: none;
  }
  .inner {
    width: 94%;
    margin: 0 auto;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}
