// Post listing
.post-listing {
  background-color: $white;
  position: absolute;
  top: 400px;
  z-index: 233;
  width: 100%;
  padding: 20px 20px 0;
  -webkit-transform: translate3d(0,0,1px);
  transform: translate3d(0,0,1px);
  @include media-query($small-screen) {
    padding: 50px 30px 0;
  }
  @include media-query($medium-screen) {
    height: 100vh;
    overflow-y: scroll;
    position: initial;
    top: 0;
  }
}

// Post Section
section.post {
	margin-bottom: 80px;
}

// Post content

#post {
  font-size: 1.1em;
  padding-bottom: 50px;
}

#post h1 {
  margin: 0.5em 0 1em;
}
#post h2 {
  margin: 0.5em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #ddd;
}
#post h3 {
  margin: 0.5em 0;
  position: relative;
}

#page {
  padding-bottom: 50px;
  min-height: 70vh;
  .page-header {
    margin: 0 auto 50px;
  }
}
