code > span.kw { color: #a71d5d; font-weight: normal; } /* Keyword */
code > span.dt { color: #795da3; } /* DataType */
code > span.dv { color: #0086b3; } /* DecVal */
code > span.bn { color: #0086b3; } /* BaseN */
code > span.fl { color: #0086b3; } /* Float */
code > span.ch { color: #4070a0; } /* Char */
code > span.st { color: #183691; } /* String */
code > span.co { color: #969896; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* Other */
